body {
    padding-left: 20px;
    padding-bottom: 200px;

    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;

    line-height: 1.5;

    color: #24292e;
}
a {
    color: #0366d6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
code {
    padding: 2px 4px 2px 4px;
    background-color: #f4f4f4;
}